@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
/* header a,.footer a{
    /* text-decoration: none; */
    /* color: #000; */
/* }  */
.fl{
    float: left;
}
.fr{
    float: right;
}
.fixed{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid #666;
    background: #fff;
    z-index: 1000;
    display: none;
}
.fixed-center{
    width: 1190px;
    height: 70px;
    margin: 10px auto;
}
.fixed p{
    width: 52px;
    height: 20px;
}
.icon{
    width: 122px;
    height: 49px;
    margin-left: 30px;
}
.icon img{
    width: 100%;
}
.catalogue {
    width: 52px;
    height: 39px;
    line-height: 30px;
    background: #fff url(https://img.iblimg.com/respc-1/resources/v4.1/widget/fileheader/i/filenavicon-1.png) no-repeat center 7px;
    color: #bbb;
}
.wrap-2{
    width: 1190px;
    position: absolute;
    top:70px;
    display: none;
}
.search-2 {
    background: red;
    margin: 5px 10px 15px 200px;
}
.search-text-2 {
    width: 426px;
    height: 35px;
    border: 2px solid red;
    padding: 0 10px;
    outline: none;
}
.search-submit-2 {
    width: 85px;
    height: 35px;
    outline: none;
    line-height: 35px;
    background: red;
    color: #fff;
    border: red;
    padding: 0;
}
.login{
    margin-top: 20px;
    font-size: 20px;
}
.login a{
    text-decoration: none;
}
.header{
    width: 1190px;
    height: 96px;
    margin:0 auto;
}
.logo{
    width: 410px;
    height: 60px;
    margin-top: 18px;
}
.spe{
    margin-left: 30px;
}
.sea{
    width: 580px;
    height: 63px;
}
.navv{
    width: 500px;
    height: 30px;
    line-height: 30px;
    color: #666;
}
.header>.navv>a{
    color: #666;
    text-decoration: none;
}
.navv span{
    display: inline;
    margin: 5px;
}
.search{
	background: red;
    margin-top: 25px
}
.search-text{
	width: 426px;
	height: 35px;
    border: 2px solid red;
    padding: 0 10px;
    outline: none;
}
.search-submit{
	width: 85px;
    height: 35px;
    outline: none;
	line-height: 35px;
	background: red;
	color: #fff;
	border:red;
    padding: 0;
}
.anfubao{
    width: 122px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #666;
    color: #666;
    margin-top: 25px;
    margin-right: 20px;
    font-size:12px;
    background: url(../images/first/header-right-icon.png) no-repeat 110px 13px;
}

/* 轮播图 */
.wrapper ul,ol {
    list-style: none;
}
.wrapper {
    width: 785px;
    height: 430px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 190px;
}
.wrapper-2{
    width: 305px;
    height: 370px;
    overflow: hidden;
}
.wrapper-2 img{
    width: 305px;
    height: 370px;
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper>ul>li{
    width: 785px;
    height: 430px;
    position: absolute;
    top: 0px;
    left: 0;
    display: none;
}
.wrapper-2>ul>li{
    width: 305px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0;
    display: none;
}
.wrapper>ol{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 210px;
}
.wrapper-2>ol{
    position: absolute;
    left: 33px;
    bottom: 10px;
    width: 210px;
}
.wrapper>ol>li{
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #abc;
}
.wrapper-2>ol>li{
    float: left;
    width: 30px;
    height: 6px;
    overflow: hidden;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    background-color: #abc;
}
.wrapper-2>ol>li>p{
    width: 0%;
    height: 6px;
    background: yellow;
}
.wrapper ol li.current,.wrapper-2 ol li.current-2{
    background-color: pink;
}
.prev{
    width: 32px;
    height: 40px;
    position: absolute;
    top: 195px;
    border: none;
    display: none;
    z-index: 2000px;
    background: url('../images/first/left1.png') no-repeat,#333;
}
.next{
    width: 32px;
    height: 40px;
    position: absolute;
    top: 195px;
    right: 0;
    border:none;
    display: none;
    z-index: 2000;
    background: url('../images/first/right1.png'),#333;
}
.squer{
    width: 1190px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}

/* 旗帜 */
.banner{
    width: 215px;
    height: 420px;
    background: rgb(255, 255, 255);
    position: absolute;
    right: 0px;
    top:5px;
    opacity: 0.9;
    z-index: 500;
}
.user-left{
    width: 45px;
    height: 45px;;
    margin: 13px;
}
.user-left img{
    width: 100%;
}
.user-right{
    margin: 20px 45px 15px 0;
}
.user-right a{
    text-decoration: none;
    color: #000;
}
.user-right a,.nav a,.anfubao a{
    color: #666;
}
.nav>.clearfix>li>.eye{
    width: 41px;
    height: 27px;
    position: absolute;
    left: 20px;
    top: -20px;
    display: none;
}
.eye img{
    width: 100%;
    
}
.discount{
    width: 215px;
    height: 110px;
    border-bottom: 1px solid #666;
}
.discount a{
    display:inline-block;
    width: 185px;
    height: 26px;
    line-height: 26px;
    background: #FFF3F5;
    margin: 0 15px;
    text-align: center;
    color: red;
}
.news{
    padding: 10px 15px;
    height: 280px;
}
.news a{
    color: #666;
}
.news b{
    font-weight: bold;
}
.must-read{
    margin-top: 5px;
}
.spirit{
    width: 180px;
    height: 185px;
    margin-top: 10px;
    border-left:1px solid #666; 
    border-top:1px solid #666;
}
.spirit li{
    width: 59px;
    height: 51px;
    padding-top: 10px;
    text-align: center;
    border-right:1px solid #666; 
    border-bottom:1px solid #666; 
}
.spirit div{
    width: 42px;
    height: 28px;
}
.s-1{
    background: url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/life_i1.png) no-repeat 8px 0;
 }  
.s-2{
    background: url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/life_iz1.png) no-repeat 8px 0;
} 
 .s-3{
     background: url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/life_i4.png) no-repeat 8px 0;
 }
 .s-4{
    background: url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/life_iz2.png) no-repeat 8px 0;
}
.s-5{
    background: url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/life_iz3.png) no-repeat 8px 0;
}
.s-6{
    background: url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/life_iz4.png) no-repeat 8px 0;
}
.s-7{
    background: url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/life_i3.png) no-repeat 8px 0;
}
.s-8{
    background: url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/life_i6.png) no-repeat 8px 0;
}
.s-9{
    background: url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/life_i9.png) no-repeat 8px 0;
}

.content{
    width: 1190px;
    height: 250px;
    margin: 30px auto;
}
.super-value{
    width: 224px;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.super-value img{
    width: 224px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
}
.product{
    width: 139px;
    height: 248px;
    text-align: center;
    border: 1px dotted #666;
    border-left: none;
    padding: 0 10px;
}
.product div{
    width: 140px;
    height: 140px;
    overflow: hidden;
    position: relative;
}
.product img{
    width: 140px;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
}
.product .title{
    width: 145px;
    height: 40px;
    text-align: left;
}
.product span{
    color: red;
    font-size: 20px;
    font-weight: 700;
}
.price{
    width: 145px;
    height: 20px;
    text-align: left;
    color: #666;
    margin-top:10px; 
}
.content-2{
    width: 1190px;
    height: 370px;
    margin: 0 auto;
    margin-top:30px;
    position: relative;
}
.excellent{
    width: 885px;
    height: 370px;
}
.excellent>li{
    width: 285px;
    height: 180px;
    position: relative;
    overflow: hidden;
    margin:0 0 5px 10px;
}
.excellent>li img{
    width: 285px;
    height: 180px;
    position:absolute;
    top: 0;
    left: 0;
}
.guess-love{
    width: 1190px;
    height: 30px;
    background:url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/guess_bg.jpg) repeat-x 0 center;
}
.guess{
    width: 320px;
    height: 30px;
    font-size: 26px;
    line-height: 30px;
    margin: 40px auto;
    text-align: right;
    background: #fff url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/guess_love.jpg) no-repeat 30px center;
}
.guess>span{
    color: #666;
    font-size: 19px;
}
.content-3{
    width: 1190px;
    margin: 0 auto;
}
.exact{
    margin: 10px 0;
    text-align: right;
    font-size: 16px;
}
.exact a{
    color: red;
}
.your-like{
    width: 206px;
    height: 337px;
    padding: 0 10px;
    border: 1px solid #666;
    margin:5px;
}
.your-like .collect{
    display: block;
    width: 50px;
    height: 20px;
    text-decoration: none;
    padding-right:10px; 
    margin-top: 20px;
    line-height: 20px;
    border-radius: 10px;
    border: 1px solid #666;
    background: url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/guess_ic1.jpg) no-repeat 7px 4px;
    text-align: right;
}
.your-like img{
    width: 210px;
    height: 210px;
    display: inline-block;
    text-align: center;
}
.your-like a{
    display: block;
    margin-top: 10px;
    color: #666;
    font-size: 14px;
}
.your-like span{
    display: block;
    margin-top: 20px;
    color: red;
    font-size: 18px;
}
.return-top{
    width: 50px;
    height: 50px;
    padding: 0;
    background: url(https://img.iblimg.com/respc-1/resources/v4.2/css/i/bantop.png) no-repeat 0 0;
    text-indent: -999px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    display: none;
}
.bg{
    width: 100%;
    height: 430px;
    background: #83AD9F;
    position: relative;
}
.content-3 ul{
    height: 1780px;
}