@charset "utf-8";
<<<<<<< HEAD
=======
*{
    margin: 0;
    padding: 0;
}
.fixed a,.header a{
    text-decoration: none;
    color: #666;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.fixed{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid #666;
    background: #fff;
    z-index: 1000;
    display: none;
}
.fixed-center{
    width: 1190px;
    height: 70px;
    margin: 10px auto;
}
.fixed p{
    width: 52px;
    height: 20px;
}
.icon{
    width: 122px;
    height: 49px;
    margin-left: 30px;
}
.icon img{
    width: 100%;
}
.catalogue {
    width: 52px;
    height: 39px;
    line-height: 30px;
    background: #fff url(https://img.iblimg.com/respc-1/resources/v4.1/widget/fileheader/i/filenavicon-1.png) no-repeat center 7px;
    color: #bbb;
}
.wrap-2{
    width: 1190px;
    position: absolute;
    top:70px;
    display: none;
}
.search-2 {
    background: red;
    margin: 5px 10px 15px 200px;
}
.search-text-2 {
    width: 426px;
    height: 35px;
    border: 2px solid red;
    padding: 0 10px;
    outline: none;
}
.search-submit-2 {
    width: 85px;
    height: 35px;
    outline: none;
    line-height: 35px;
    background: red;
    color: #fff;
    border: red;
    padding: 0;
}
.login{
    margin-top: 20px;
    font-size: 20px;
}
.login a{
    text-decoration: none;
}
.header{
    width: 1190px;
    height: 96px;
    margin:0 auto;
}
.logo{
    width: 410px;
    height: 60px;
    margin-top: 18px;
}
.spe{
    margin-left: 30px;
}
.sea{
    width: 580px;
    height: 63px;
}
.navv{
    width: 500px;
    height: 30px;
    line-height: 30px;
    color: #666;
}
.header>.navv>a{
    color: #666;
    text-decoration: none;
}
.navv span{
    display: inline;
    margin: 5px;
}
.search{
	background: red;
    margin-top: 25px
}
.search-text{
	width: 426px;
	height: 35px;
    border: 2px solid red;
    padding: 0 10px;
    outline: none;
}
.search-submit{
	width: 85px;
    height: 35px;
    outline: none;
	line-height: 35px;
	background: red;
	color: #fff;
	border:red;
    padding: 0;
}
.anfubao{
    width: 122px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #666;
    color: #666;
    margin-top: 25px;
    margin-right: 20px;
    font-size:12px;
    background: url(../images/first/header-right-icon.png) no-repeat 110px 13px;
}
>>>>>>> ab8b25904b2d33ad99487ec279e1c8a0ba730898

/* 轮播图 */
.wrapper ul,ol {
    list-style: none;
}
.wrapper {
    width: 785px;
    height: 430px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 190px;
}
.wrapper-2{
    width: 305px;
    height: 370px;
    overflow: hidden;
}
.wrapper-2 img{
    width: 305px;
    height: 370px;
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper>ul>li{
    width: 785px;
    height: 430px;
    position: absolute;
    top: 0px;
    left: 0;
    display: none;
}
.wrapper-2>ul>li{
    width: 305px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0;
    display: none;
}
.wrapper>ol{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 210px;
}
.wrapper-2>ol{
    position: absolute;
    left: 33px;
    bottom: 10px;
    width: 210px;
}
.wrapper>ol>li{
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #abc;
}
.wrapper-2>ol>li{
    float: left;
    width: 30px;
    height: 6px;
    overflow: hidden;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    background-color: #abc;
}
.wrapper-2>ol>li>p{
    width: 0%;
    height: 6px;
    background: yellow;
}
.wrapper ol li.current,.wrapper-2 ol li.current-2{
    background-color: pink;
}
.prev{
    width: 32px;
    height: 40px;
    position: absolute;
    top: 195px;
    border: none;
    display: none;
    z-index: 2000px;
    background: url('../images/first/left1.png') no-repeat,#333;
}
.next{
    width: 32px;
    height: 40px;
    position: absolute;
    top: 195px;
    right: 0;
    border:none;
    display: none;
    z-index: 2000;
    background: url('../images/first/right1.png'),#333;
}
.squer{
    width: 1190px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}
.bg{
    width: 100%;
    height: 430px;
    background: #83AD9F;
    position: relative;
}
