html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
img{cursor:pointer}
.nav-all{
    height: 34px;
    border-bottom: 1px solid #707070;
    background: #f5f5f5;
    width: 100%;
    position: relative;
}
.wr{
    width: 1190px;
    margin: auto;
    position: relative;
}
#golbal-nav>ul{
    position: relative;
    clear: both;
}
#golbal-nav>ul>li{
    float: left;
    width: 234px;
    height: 34px;
    border: 0;
    background: #f5f5f5;
    font-family: "Microsoft YaHei";
    font-size: 15px;
    color: #000;
  line-height: 34px;
  text-align: center;
}
.golbal-nav{
    height: 34px;
    float: left;
    position: absolute;
}
.nav-show {
    width: 1190px;
    height: 409px;
    border: 1px solid #2e3384;
    position: absolute;
    display: none;
    top: 34px;
    left: 0;
}
#golbal-nav>ul>li:hover{
    border-bottom: 2px solid #2E3384;
}
.title{
    height: 16px;
    overflow: hidden;
    border-left: 4px solid #2e3384;
}
.classification-list{
    width: 810px;
    margin: 0;
    overflow: hidden;
    float: left;
}
.classification-list>dd{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;
    width: 360px;
    height: auto;
    float: left;
}
.title>.word{
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 700;
    float: left;
    width: auto;
    margin: 0 6px;
    padding: 0;
    display: block;
    color: #333;
    border-bottom: 1px solid #2e3384;
}
.catelist{
    height: 87px;
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color: #666;
    overflow: hidden;
}
.cate{
    padding: 0 21px 0 10px;
    white-space: nowrap;
    margin-top: 15px;
    margin-left: -10px;
    margin-right: 0;
    width: auto;
    height: 14px;
    line-height: 14px;
    float: left;
    border-left: 1px solid #c5c5c5;
}
.nav-show-right{
    float: right;
    width: 310px;
    height: 348px;
    background: #f6f6f6;
    padding: 30px;
    margin-top: 1px;
}
.nav-show-right-ul{
    height: 109px;
    overflow: hidden;
}
.nav-show-right-ul>ul{
    width: 315px;
}
.nav-show-right-ul>ul>li{
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 100px;
    height: 50px;
    overflow: hidden;
}
.nav-show-right-img{
    margin-top: 30px;
   
}