/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i,
cite,
em,
var,
address,
dfn {
    font-style: normal;
}

del,
ins,
u,
s,
a,
a:hover {
    text-decoration: none;
}

body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
textarea,
select,
input,
form,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

a,
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
    font-weight: bold;
}

html,
body {
    height: 100%;
}

b,
strong {
    font-weight: normal;
}

i,
em {
    font-style: normal;
}

img {
    vertical-align: top;
}

input {
    outline: none;
}

.cle:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

li {
    list-style: none;
}




button,
del,
input,
ins,
li,
ol,
select,
table,
td,
textarea,
th,
tr,
ul {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: 0;
    outline: 0
}

li {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
    font-size: 100%
}

textarea {
    overflow: auto;
    resize: none
}

em,
i,
s {
    text-decoration: none;
    font-style: normal
}

a:link,
a:visited {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #FF6F6F;
}
a:hover .iconfont{
    color: #666;
}
a,
area {
    border: none;
    outline: 0
}

body,
button,
input,
label,
select,
textarea {
    font: 12px/150% arial, "Hiragino Sans GB", SimSun, tahoma, sans-serif;
    *font-family: SimSun;
    outline: 0
}

body {
    height: auto
}

